body{
    margin: 0em;
   
}
#front-div{
    height: 40em;
    border-radius: 1em;
    border: .1em solid black;
    background: red; 
    transition: transform .01s;
}
#front-button{
    height: 5em;
    border-radius: 1em;
    border: .1em solid;
}
#front-button:hover{
    background: rgb(26, 24, 24);
    border: #ffffff;
    color: white;
}
#nav-buttn{
    color: white;
}
#navbarDropdown{
    color: white;
}
#front-div:hover{
    transform: scale(1.1);
}
#nikhil{
    width: 25em;
    height:auto;
    margin-left: 2em;
}
#text{
    text-decoration: none;
     margin-left: 2.3em;
}
#text1{
    margin-left: 1em;
}
#About{
    background:#f2f2f2;
}
#section-bg{
    background: #f0f0f0;
}
#contact{
    background:#a7a7a7;
}
#insta{
    background:#d72d5c;
    color: white;
}
#youtube{
    color: white;
}
#first{
    height: 32em;
}
#second1{
    height: 29em;
}
#second2{
    height: 29em;
}
#second3{
    height: 30em;
}
#second4{
    height: 32em;
}


@media (max-width: 400px){
    #front-div{
        border: 0em;
        margin-left: .33em;
    }
    .div1{
        display: none;
    }
    .div2{
        display: none;
    }
    #nikhil{
        margin-left: 0em;
    }
    #text{
        margin-left: 0em;
      }
      #text1{
        margin-left: 0.1em;
    }
}


@media (max-width: 450px){
    #nikhil{
        margin-left: 0em;
    }
    #text{
        margin-left: 1.3em;
    }
    #text1{
        margin-left: 0em;
    }
}


@media (max-width: 320px){
  .div3{
      display: none;
  }
  #nikhil{
    margin-left: 0em;
  }
  #text{
      margin-left: 0em;
  }
  #text1{
    margin-left: -1em;
}